doctype html
head
  meta(charset='utf-8')
  title HTMLWebpackPLugin with Pug

body
  .container
    .main
      include partials/header.pug
      .content
        block content

    include partials/footer.pug