block variables
.header__container
  .header_container__container
    .header_content
      .header_content__wrapper
        include ./shared/burger-menu.pug
        
      .header_content__wrapper
        h2.header__title #{title}
    