.navbar__wrapper
  .navbar__container
    .navbar_title__container
      h2.navbar_title__text
        | Guest

    .pagination_items__container
      .fragment
        .pagination_item__container
          span.pagination_item__text
            | Home

        .pagination_item__container
          span.pagination_item__text
            | Add Ticket

      .pagination_item__container
        span.pagination_item__text
          | Sign In
