extends includes/layout.pug
block content
  .centered.main-title
    h1.title.scramble__text
      | Encription models
  .content_blocks__container
    include includes/partials/content-block.pug
    include includes/partials/content-block.pug
    include includes/partials/content-block.pug
